[submodule "src/flexric"]
	path = src/flexric
	url = https://gitlab.eurecom.fr/mosaic5g/flexric.git
[submodule "src/ocudu"]
	path = src/ocudu
	url = https://gitlab.com/ocudu/ocudu.git
[submodule "src/open5gs"]
	path = src/open5gs
	url = https://github.com/open5gs/open5gs.git
[submodule "src/srsRAN_4G"]
	path = src/srsRAN_4G
	url = https://github.com/srsran/srsRAN_4G.git
[submodule "src/swig"]
	path = src/swig
	url = https://github.com/swig/swig.git
